.featured-products {
    &__title {
        color: #333333;
        font-size: 35px;
        font-weight: 600;
        line-height: 45px;
    }

    &__description {
        width: 507px;
        color: #666666;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    &__items {
        flex-wrap: wrap;
    }

    &__item {
        position: relative;

        &-description {
            text-align: center;
        }

        &-image {
            width: 270px;
            height: 302px;
            background-color: #ebebeb;
            position: relative;
        }

        &-title {
            color: #666666;
            font-size: 15px;
            font-weight: 400;
            line-height: 45px;
        }

        &-price {
            color: #333333;
            font-size: 18px;
            font-weight: 600;
            line-height: 1rem;
        }

        &:first-child {
            margin-bottom: 38px;
        }

        &:hover .item-icons {
            display: flex;
        }
    }

    .new {
        &:after {
            content: "New";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 13px;
            left: 13px;
            width: 45px;
            height: 45px;
            background-color: #6ab963;
            border-radius: 22.5px;

            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .sale {
        &:after {
            content: "%";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 13px;
            left: 13px;
            width: 45px;
            height: 45px;
            background-color: #ff6363;
            border-radius: 22.5px;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
        }
    }
}