.count {
    width: 140px;
    height: 50px;
    background-color: #f5f5f5;

    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;
    margin-right: 10px;

    &__operator {
        user-select: none;
        flex-grow: 1;
        cursor: pointer;
        height: 100%;

        &:hover {
            background-color: #ff6363;
        }
    }

    &__value {
        flex-grow: 2;
    }
}