.aboutus {
    padding: 70px 0;

    &__title {
        position: relative;
        color: #333333;
        font-size: 35px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 10px;
        text-align: center;
    }


    &__item {
        width: 560px;
    }


    &__subtitle {
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 10px;
    }

    &__text {
        color: #666666;
        font-size: 16px;
        line-height: 26px;
    }

    &__image {
        width: 560px;
        height: 340px;
        background-color: #ebebeb;
        margin-bottom: 30px;
    }
}