.contact-info {
    text-align: center;
    padding: 0 0 80px 0;

    &__icon {
        display: inline-block;
        color: #ff6363;
        font-family: "Elegant Icon";
        font-size: 36px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__title {
        line-height: 36px;
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__text {
        color: #666666;
        font-size: 16px;
    }

    @media all and (max-width: 376px) {
        flex-direction: column;

        &__item {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}