// Header
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.logo {
  &__title {
    display: table;
    position: relative;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    user-select: none;

    &:after {
      position: absolute;
      top: calc(50% - 4px);
      right: 9px;
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 3.5px;
      background-color: #ff6363;
    }
  }
}

.menu {
  &__item {
    cursor: pointer;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    &:not(:last-child) {
      margin-right: 42px;
    }

    &:hover {


      border-bottom: 2px solid #ff6363;
    }
  }
}

.nav {
  &__search {
    border: none;
    width: 160px;

    &::placeholder {
      color: #999999;
      font-size: 14px;
      line-height: 45px;
    }
  }

  &__icon {
    cursor: pointer;
    color: #707070;
    font-size: 23px;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase;
    transform: scale(-1, 1);


    &:hover {
      color: #ff424f;
    }
  }

  &__icon-wrapper {
    position: relative;
    margin-right: 25px;
  }

  &__icon-num {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ff424f;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    color: white;
    font-size: 9px;
    line-height: 1rem;
  }
}

.cart {
  font-size: 12px;
  font-weight: 600;
  line-height: 1rem;
  color: #020202;
  width: 100px;

  &__title {
    color: #707070;
  }

  &__price {
    color: #ff424f;
    letter-spacing: 1px;
  }
}