.image404 {
    text-align: center;
    padding: 140px 0;

    img {
        max-width: 100%;
    }

    @media all and (max-width: 376px) {
        padding: 30px 0 0 0;
        max-width: 330px;
    }
}