.wishList {

    padding-top: 100px;

    &__title {
        color: #171717;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }

    &__row-titles {
        padding: 50px 280px 30px 0;
    }

    &__row-product {
        padding: 30px 0;
    }

    &__row-button {
        padding: 30px 0;
    }

    &__stock {
        width: 110px;
        color: #ff6363;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    &__button-confirm {
        box-sizing: border-box;
        width: 170px;
        cursor: pointer;
        background-color: #f5f5f5;
        color: #666666;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 18px 35px;

        &:hover {
            background-color: #ff6363;
            color: #fff;
        }
    }

    &__image {
        width: 100px;
        height: 100px;
        background-color: #ebebeb;
        margin-right: 30px;

        img {
            width: 100%;
            height: 100%;
            background-color: #ebebeb;
        }
    }

    &__subtitle {
        color: #171717;
        font-size: 18px;
        font-weight: 400;
    }

    &__price {
        width: 90px;
        color: #ff6363;
        font-size: 18px;
        font-weight: 600;
        text-align: right;
    }

    &__button {
        color: #ff6363;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
    }

    .row-border {
        border-bottom: 1px solid #ebebeb;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .margin-right-60 {
        margin-right: 60px;
    }

    .width-50 {
        width: 50%;
    }

}