.priceFilter {
    padding-right: 80px;


    &__title {
        color: #333333;
        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
        margin-bottom: 10px;
    }

    &__forms {}

    &__input {
        width: 100px;
        height: 30px;
        padding-left: 10px;
    }

    @media all and (max-width: 371px) {
        display: none;
    }
}