.productCard {

    &__images {
        max-width: 500px;
        margin-right: 100px;
    }

    &__image {
        background-color: #ebebeb;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .image-main {
        width: 500px;
        height: 560px;
        margin-bottom: 10px;
        order: 0;
    }

    .image-small {
        width: 120px;
        height: 120px;
        margin-right: 10px;
    }

    &__title {
        color: #252525;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__price {
        color: #ff6363;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 25px;
    }

    &__text {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 50px;
    }

    &__button {
        cursor: pointer;
        background-color: #999999;
        display: inline-flex;
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        margin-right: 15px;
        padding: 18px 30px;
        user-select: none;

        &:hover {
            background-color: #ff6363;
        }
    }

    .count {

        width: 140px;
        height: 50px;
        background-color: #f5f5f5;

        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        text-align: center;
        margin-right: 10px;


        &__operator {
            user-select: none;
            flex-grow: 1;
            cursor: pointer;
            height: 100%;


            &:hover {
                background-color: #ff6363;
            }
        }

        &__value {
            flex-grow: 2;
        }
    }


}


.wishList-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    user-select: none;

    &:hover {
        background-color: #ff6363;
    }
}