.tags-list {
    width: 320px;

    &__title {

        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
    }

    &__item {
        cursor: pointer;
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;

        &:not(:last-child) {
            margin-bottom: 18px;
        }

        &:hover {
            color: #ff6363;
        }
    }

    @media all and (max-width: 371px) {
        display: none;
    }
}