.checkout {
    padding-top: 100px;
}

.billing-details {
    width: 100%;
    padding-right: 30px;

    &__title {
        color: #171717;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__subtitle {
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;

        span {
            color: #ff6363;
        }
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        height: 46px;
        border: 1px solid #ebebeb;
        border-radius: 2px;
        padding: 0 20px;
        font-size: 20px;

        &::placeholder {

            color: #999999;
            font-size: 16px;
            font-weight: 400;
            line-height: 60px;
        }
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .input-small {
        width: 370px;
    }

    .margin-bottom-30 {
        margin-bottom: 30px;
    }
}

.your-order {
    padding: 38px;
    background-color: #f5f5f5;
    max-width: 370px;

    &__title {
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 30px;
    }

    &__subtitle {
        color: #333333;
        font-size: 18px;
        font-weight: 600;
    }

    &__item {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 21px;
    }

    &__text {
        color: #999999;
        font-size: 16px;
        line-height: 24px;
    }

    &__button {
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: #ff6363;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 15px 0;
        text-align: center;
        margin-top: 25px;

    }

    .color-red {
        color: #ff6363;

    }

    .padding-28 {
        padding: 28px 0;
    }

    .padding-22 {
        padding: 22px 0;
    }

    .padding-18 {
        padding: 18px 0;
    }

    .border-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .border-top {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }


}