.benefit {
    padding: 50px 0;
    background-color: #f5f5f5;

    &__image {
        margin-right: 25px;
    }

    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 5px;
    }

    &__text {
        color: #999999;
        font-size: 16px;
        line-height: 24px;
    }
}