.shopingCart {

    padding-top: 100px;

    &__title {
        color: #171717;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }

    &__row-titles {
        padding: 50px 100px 30px 0;
    }

    &__row-product {
        padding: 30px 0;
    }

    &__row-button {
        padding: 30px 0;
    }

    &__button-confirm {
        cursor: pointer;
        background-color: #f5f5f5;
        color: #666666;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 18px 35px;

        &:hover {
            background-color: #ff6363;
            color: #fff;
        }
    }

    &__image {
        width: 100px;
        height: 100px;
        background-color: #ebebeb;
        margin-right: 30px;

        img {
            width: 100%;
            height: 100%;
            background-color: #ebebeb;
        }
    }

    &__subtitle {
        color: #171717;
        font-size: 18px;
        font-weight: 400;
    }

    &__price {
        color: #ff6363;
        font-size: 18px;
        font-weight: 600;
    }

    &__button {
        color: #ff6363;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
    }

    .row-border {
        border-bottom: 1px solid #ebebeb;
    }

    .width-50 {
        width: 50%;
    }

    .width-16 {
        width: 5%;
    }

    @media all and (max-width: 376px) {
        flex-direction: column;

        &__title:not(:first-child) {
            display: none;
        }

        &__row-product {
            flex-wrap: wrap;
        }

        &__confirm-row {
            flex-direction: column;
            align-items: center;
        }

        &__button-confirm {
            padding: 18px 18px;
            font-size: 12px;
        }

        &__product {
            width: 100% !important;
        }
    }
}

.totalPrice {
    padding: 30px;
    width: 360px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    box-sizing: border-box;

    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 40px;
    }

    &__subtotal {
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 30px;
        padding-bottom: 25px;
    }

    &__subtitle {
        color: #333333;
        font-size: 16px;
        font-weight: 600;
    }

    &__price {
        color: #ff6363;
        font-size: 18px;
        font-weight: 600;
    }

    &__button {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        width: 300px;
        height: 46px;
        background-color: #ff6363;
        cursor: pointer;
    }

    @media all and (max-width: 376px) {
        max-width: 330px;

        &__button {
            width: auto;
        }
    }
}

.discount {
    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__input {
        box-sizing: border-box;
        width: 255px;
        height: 46px;
        border: 1px solid #cccccc;
        margin-right: 10px;
        padding: 0 10px;
    }

    &__form {
        height: 46px;
    }

    &__button {
        width: 170px;
        height: 46px;
        background-color: #999999;
        box-sizing: border-box;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        border: none;
    }

    @media all and (max-width: 376px) {
        text-align: center;
        margin-bottom: 25px;

        &__form {
            flex-direction: column;
            max-width: 170px;
            height: auto;
        }

        &__input {
            width: 100%;
            margin: 0 0 10px 0;
        }

        &__button {
            padding: 10px 0;
        }
    }
}

.count {
    width: 140px;
    height: 50px;
    background-color: #f5f5f5;

    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;
    margin-right: 10px;

    &__operator {
        user-select: none;
        flex-grow: 1;
        cursor: pointer;
        height: 100%;

        &:hover {
            background-color: #ff6363;
        }
    }

    &__value {
        flex-grow: 2;
    }
}