.contact-form {
    padding: 80px 0;

    &__input {
        width: 570px;
        height: 50px;
        border-radius: 2px;
        border: 1px solid #ebebeb;
        background-color: #ffffff;
        margin-bottom: 30px;
        padding-left: 18px;

        &-text {
            padding-left: 18px;
            width: 1170px;
            height: 150px;
            border-radius: 2px;
            border: 1px solid #ebebeb;
            background-color: #ffffff;
        }
    }

    &__button {
        cursor: pointer;
        width: 190px;
        height: 46px;
        background-color: #ff6363;

        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        border: none;
        margin-top: 40px;
    }

    .text-style {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;
    }

    .margin-bottom-50 {
        margin-bottom: 50px;
    }
}