.service {
    user-select: none;

    &__item {
        width: 370px;
        height: 286px;
        background-color: #ffffff;
        outline: 1px solid #ff6363;
        outline-offset: -18px;

        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 00;
        line-height: 28px;
        margin-top: 33px;
    }

    &__description {
        margin-top: 15px;
        width: 261px;
        color: #666666;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    @media all and (max-width: 376px) {
        flex-direction: column;

        &__item {
            width: 100%
        }
    }
}