.faqs-list {
    &__item {
        padding: 30px 0;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:hover .faqs-list__title {
            color: #333333;
            border-bottom: 2px solid #fb5c42;
        }
    }

    &__title {
        position: relative;
        letter-spacing: 2px;
        padding: 3px 0;
        color: #666666;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }

    &__description {
        color: #555555;
        font-size: 16px;
        line-height: 24px;
        padding: 20px 50px 0 0;
    }

    &__button {
        font-family: "Elegant Icon";
        cursor: pointer;
        color: #666666;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;

        &:hover {
            color: #fb5c42;
        }
    }
}