.shopingCart {


    &__title {
        color: #171717;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }

    &__row-titles {
        padding-right: 100px;
        padding-bottom: 30px;
    }

    &__row-product {
        padding: 30px 0;
    }

    &__row-button {
        padding-top: 30px;
    }

    &__button-confirm {
        cursor: pointer;
        background-color: #f5f5f5;
        color: #666666;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 18px 35px;

        &:hover {
            background-color: #ff6363;
            color: #fff;
        }

    }

    &__image {
        width: 100px;
        height: 100px;
        background-color: #ebebeb;
        margin-right: 30px;

        img {
            width: 100%;
            height: 100%;
            background-color: #ebebeb;
        }
    }

    &__subtitle {
        color: #171717;
        font-size: 18px;
        font-weight: 400;
    }

    &__price {
        color: #ff6363;
        font-size: 18px;
        font-weight: 600;
    }

    &__button {
        color: #ff6363;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
    }

    .row-border {
        border-bottom: 1px solid #ebebeb;
    }

    .width-50 {
        width: 50%
    }

    .width-16 {
        width: 5%
    }

}


.totalPrice {
    padding: 30px;
    width: 360px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 35px;

    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 40px;
    }

    &__subtotal {
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 30px;
        padding-bottom: 25px;
    }

    &__subtitle {
        color: #333333;
        font-size: 16px;
        font-weight: 600;
    }

    &__price {
        color: #ff6363;
        font-size: 18px;
        font-weight: 600;
    }

    &__button {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        width: 300px;
        height: 46px;
        background-color: #ff6363;
        cursor: pointer;
    }
}


.discount {
    &__title {

        color: #333333;
        font-size: 20px;
        font-weight: 700;
    }

    &__input {
        width: 255px;
        height: 46px;
        border: 1px solid #cccccc;
    }

    &__form {}

    &__button {
        width: 170px;
        height: 46px;
        background-color: #999999;

        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }
}


.count {

    width: 140px;
    height: 50px;
    background-color: #f5f5f5;

    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;
    margin-right: 10px;


    &__operator {
        user-select: none;
        flex-grow: 1;
        cursor: pointer;
        height: 100%;


        &:hover {
            background-color: #ff6363;
        }
    }

    &__value {
        flex-grow: 2;
    }
}