.shop-search-result {

    font-size: 16px;
    margin-right: 20px;

    &__result {
        color: #333333;
        font-weight: 600;
        padding-right: 5px;
    }

    &__text {
        font-weight: 400;
        color: #999999;
    }
}