.dealOfTheDay {
    position: relative;

    &__image1 {
        background: url("/image/dealOfTheDay/IMG_1.png") no-repeat bottom left,
            #ffefe3;
    }

    &__image2 {
        background: url("/image/dealOfTheDay/IMG_2.png") no-repeat bottom right,
            #e5f8ff;
    }

    &__image1,
    &__image2 {
        cursor: pointer;
        width: 50%;
        height: 569px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__inner {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

    &__deal {
        width: 505px;
        height: 505px;
        border-radius: 252.5px;
        background-color: #ffffff;
    }

    &__title {
        color: #333333;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 35px;
    }

    &__btn {
        cursor: pointer;
        width: 173px;
        height: 48px;
        border-radius: 24px;
        border: 2px solid #ff6363;

        color: #333333;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-top: 60px;

        &:hover {
            background-color: #ff6363;
            color: #fff;
        }
    }

    &__hashtag {
        color: #ffffff;
        font-size: 12px;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        background-color: #ff6363;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .timer {
        &__item {
            width: 95px;
            height: 95px;
            background-color: #ededed;
            border-radius: 47.5px;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &__title {
            color: #666666;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.96px;
        }

        &__number {
            color: #333333;
            font-size: 45px;
            font-weight: 700;
        }
    }
}