// Fonts
//@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
//font-family: 'Poppins', sans-serif;

@font-face {
  font-family: "Elegant Icon";
  src: url(./assets/fonts/ElegantIcons.eot?) format("eot"),
    url(./assets/fonts/ElegantIcons.woff) format("woff"),
    url(./assets/fonts/ElegantIcons.ttf) format("truetype");

}

// Main

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 45px 0;

  @media all and (max-width: 376px) {
    padding: 10px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: #333333;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  outline: none;
}

///////

.container {
  max-width: 1760px;

  @media all and (max-width: 1680px) {
    max-width: 1580px;
  }

  @media all and (max-width: 1281px) {
    max-width: 1100px;
  }

  @media all and (max-width: 376px) {
    max-width: 330px;
  }
}

.container-small {
  max-width: 1170px;

  @media all and (max-width: 1281px) {
    max-width: 1120px;
  }

  @media all and (max-width: 376px) {
    max-width: 330px;
  }

}

.container-1500 {
  max-width: 1500px;

  @media all and (max-width: 376px) {
    max-width: 330px;
  }

  @media all and (max-width: 1281px) {
    max-width: 1100px;
  }
}

.container-blog {
  max-width: 831px;
}

.item-icons {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  justify-content: center;
  font-family: "Elegant Icon";
  color: #808080;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;

  &__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 19px;
    width: 38px;
    height: 38px;
    -webkit-box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 17px 1px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: #ff6363;
      color: #ffffff;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

// Модификаторы //

.display-flex {
  display: flex;
}

.flex-collum {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.margin-center {
  margin: 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.elegant-icon {
  font-family: "Elegant Icon";
}

.text-align-center {
  text-align: center;
}

.displayNone {
  display: none;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-30 {
  margin-top: 30px;
}

.text-align-center {
  text-align: center;
}

.padding-top-100 {
  padding-top: 100px;
}

* {
  box-sizing: border-box;
}