.metroGridItems {
    display: grid;
    grid-template-columns: repeat(4, 425px);
    //grid-template-rows: 350px 350px;
    grid-gap: 30px;
    align-self: center;
    justify-self: center;
    grid-template-areas:
        "item1 item1 item2 item3"
        "item4 item5 item5 item3";
    justify-content: center;

    &__item {
        display: grid;
        height: 350px;

        img {
            grid-area: 1 / 1 / 2 / 3;
            width: 100%;
            height: 100%;
        }
    }

    .item1 {
        //width: 850px;
        background: url("/image/item/item1.png") no-repeat bottom left, #fff5f4;
        grid-area: item1;
    }

    .item2 {
        //width: 425px;
        background: url("/image/item/item2.png") no-repeat bottom left, #e4f5e5;
        grid-area: item2;
    }

    .item3 {
        //width: 425px;
        height: 730px;
        background: url("/image/item/item3.png") no-repeat bottom center, #fff9de;
        grid-area: item3;
    }

    .item4 {
        //width: 425px;
        background: url("/image/item/item4.png") no-repeat, #e7f4ff;
        grid-area: item4;
    }

    .item5 {
        //width: 850px;
        background: url("/image/item/item5.png") no-repeat bottom center, #feefe0;
        grid-area: item5;
        //margin-left: -150px;
    }

    &__description {
        padding: 50px 20px 0 0;
        grid-area: 1 / 2 / 2 / 3;
    }

    &__title {
        color: #333333;
        font-size: 20px;
    }

    &__hashtag {
        color: red;
        text-transform: uppercase;
    }

    &__button {
        text-transform: uppercase;
        font-weight: 600px;
    }


}